/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/***table of color template****************************************************************************/

/*
    background dark:    #4f463c
    background menu:    #786f66
    background text:    #e8e5d1
    background menuH:   #9c9084
    text menu:          #e8e5d1
    text link:          #4f463c
    text header & text: #786f66
    text header2:       #4f463c
    line dotted:        #bfbfbf
    line box:           #ccc8b8
    white line:         #ffffff
*/


/***main site container and topbar code****************************************************************/

#container{             /* main container for site */
    width: 600px;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc8b8;
    font-family: Verdana, sans-serif;           /* [fick hjälp med att få fram att det var verdana] */
    font-size: 0.8em;
    line-height: 160%;
}

#topbar{                /* bar at top which include background picture */
    height: 220px;
    background: #4f463c;
    color: #e8e5d1;
    font-style: italic;
    font-size: 0.75em;
    line-height: 20px;
    text-align: right;
    background-image:url("pics/coffey.jpg");
    background-position: 0px 20px;
    background-repeat: no-repeat; 
}


/***menu bar code for horisondal menu******************************************************************/

#menu{                  /* menu area with line-height that controls the "height" of the "menu boxes" */
    height: 35px;
    line-height: 40px;
    background-color: #51473d;
    border-bottom: 1px solid #ffffff;
}
#menu ul{
    list-style-type:none;
    margin: 0;
    padding-left: 10px;
} 
#menu>a{                /* to hide the first link in the html [fick hjälp med denna]*/
    display: none;
}
#menu a{                /* the actual box sizes with borders and padding made from the links */
    color: #e8e5d1;
    padding: 7px 19px 7px 18px;
    background-color: #786f66;
    text-decoration: none;
    text-transform: capitalize;
    border-top: 1px solid #847c73;
    border-left: 1px solid #4f463c;
}
#menu li{               /* to get the full clicking area the blocks float */
    display: block;
    float: left;
    font-family: Verdana;
    font-size: 0.7em;
    letter-spacing: 0.05em;
}
#menu li.active a{      /* the active menu choise has other colors */
    background-color: #e8e5d1;
    color: #786f66;
    border-top: 1px solid #51473d;
}
#menu li:hover a{       /* the menu box you hover with mouse change in background color */
    background-color: #9c9084;
}


/***containers and style code for each text area*******************************************************/

#content{               /* container for both text areas (580=600-10-10 from padding) */
    width: 580px;
    background: #e8e5d1;
    padding: 20px 10px 10px 10px;
    color: #786f66;
}

#maincontent{           /* area of main text */
    position: absolute;
    width: 348px;
    height:330px;
    border-right: 1px dashed #ccc8b8;
    padding-right: 5px;
}
#maincontent h1{
    margin: 5px 0px 20px 0px;
    font-size: 2.5em;
    font-weight: normal;
    font-family: "Times New Roman", serif;
}

#subcontent{            /* area of right text and links */
    margin-left: 365px; 
    height: 330px;
    font-size: 70%;
}
#subcontent h1{         /* code to make the headers in right text box smaller */
    margin: 5px 0px 20px 0px;
    font-size: 1.75em;
    font-weight: normal;
    font-family: "Times New Roman", serif;
}
#subcontent h2{
    font-size: 1.6em;
    font-weight: normal ;
    font-family: "Times New Roman", serif;
    margin: 0px;
}
#subcontent ul{         /* code to make the link list narrower */
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

#bottomcontent{         /* text area at bottom to present copyright information */
    height: 20px;
    line-height: 20px;
    font-size: 0.75em;
    font-style: italic;
}


/***general style code to get picture to float and link styling****************************************/

img{
    float: left;
    padding-right: 5px;
}

a{
    font-family: Verdana, sans-serif;
    font-size: 1.4em;
    color: #4f463c;
}